body {
  display: flex;

  justify-content: center;
}

form {
  display: inline-block;
}

.movie-container {
  display: flex;
  align-items: start;
  justify-content: space-between; /* Separa las columnas de forma equitativa */
  /*gap: 5px; /* Espacio opcional entre columnas */
  flex-wrap: wrap;
}

.container {
  flex: flex-basis;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons-moviecard {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
